@import '../../../shared/styles/variables.scss';

.success-message-container {
    width: 50%;
    // display: none;
    margin: 0 auto 15px auto;
    @media screen and (min-width: $Largescreen-1600) {
        margin: 20px auto;
        position: relative;
        bottom: 35px;
    }
}
.success-message-container,
.failure-message-container {
    width: 50%;
    // display: none;
    margin: 0 auto 15px auto;
    @media screen and (min-width: $Largescreen-1600) {
        margin: 20px auto 0 auto;
        position: relative;
        bottom: 15px;
    }
}
.success-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #0B961B;
    background-color: #0B961B1A;
    color: #0B961B;
    font-family: 'NiveauGrotesk';
    padding: 12px;
    font-size: var(--fontsize14);
    @media screen and (min-width: $Largescreen-1600) {
        padding: 21px 10px;
        font-size: var(--fontsize16);
    }
}
.editName-popUp {
    .close-btn-row {
        .close-btn-col {
            text-align: right;
            top: 5px;
            .close-btn-icon {
                cursor: pointer;
                color: #495A64;
                width: 15px;
                height: 15px;
            }
        }
    }

    .heading-row {
        padding: 40px 50px 10px;
        .heading-col {
            text-align: center;
            .heading-label {
                font-size: var(--fontsize24);
                font-family: 'NiveauGroteskBold';
                color: $pdp-font-color;
            }
        }
    }

    .edit-name-row {
        padding: 0px 50px 5px;
        .edit-name-col {
            .edit-name-label {
                text-align: center;
                font-size: var(--fontsize18);
                font-family: 'NiveauGroteskBold';
                color: $pdp-font-color;
                font-weight: 100;
            }
        }
    }

    .more-information-row {
        padding: 0px 50px 60px;
        .more-information-col {
            .more-information-label {
                font-size: var(--fontsize18);
                font-family: 'NiveauGrotesk';
                color: $pdp-font-color;
                font-weight: 100;
                text-align: center;
                .more-information-label-anchor {
                    font-family: 'NiveauGroteskBold';
                    font-size: var(--fontsize16);
                    color: $anchor-color;
                    text-decoration: underline;
                    outline: none;
                }
            }
        }
    }

    .edit-name-input-row {
        padding: 0px 50px 20px;
        .edit-name-input-col {
            .edit-name-input {
                font-size: var(--fontsize20);
                font-family: 'NiveauGrotesk';
                color: $pdp-font-color;
                height: var(--buttonHeight60);
                width: 100%;
                padding: 10px;
                outline: none;
                border: 1px solid #77889380;
            }
            .edit-name-input.ng-invalid.ng-touched {
                border-color: #77889380;
            }
        }
    }

    .buttons-row {
        padding: 0px 50px 40px;
        .cancel-button-col {
            .btn.cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--fontsize20);
                font-family: 'NiveauGroteskBold';
                border: 1px solid #77889380;
                background-color: #77889380;
                color: $pdp-font-color;
                border-radius: 4px;
                min-height: var(--buttonHeight60);
                min-width: 250px;
                &:focus {
                    box-shadow: 0 0 0 transparent;
                  }
            }
        }
        .save-button-col {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            .btn.save-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--fontsize20);
                font-family: 'NiveauGroteskBold';
                border: 1px solid $blue-color;
                background-color: $blue-color;
                color: $white-color;
                border-radius: 8px;
                min-height: var(--buttonHeight60);
                min-width: 250px;
                &:focus {
                    box-shadow: 0 0 0 transparent;
                  }
            }
        }
    }
}
@media screen and (max-width:$mobileScreenPotrait) {
    .editName-popUp {
        .more-information-row
        {
            padding: 0 30px 35px;
            .more-information-col
            {
                .more-information-label
                {
                    font-size: var(--fontsize20);
                }
            }
        }
        .close-btn-row
        {
            .close-btn-col
            {
                .close-btn-icon
                {
                    width:12px;
                    height: 12px;
                }
            }
        }
        .buttons-row{
            .cancel-button-col{
                .btn.cancel-btn
                {
                    min-width: 100%;
                    max-height: var(--buttonHeight60);
                    border-radius: 5px;
                }
            }
            .save-button-col
            {
                .btn.save-btn
                {
                    min-width: 100%;
                    max-height: var(--buttonHeight60);
                    border-radius: 5px;
                }
            }
        }
    }
}