<div class="menuItemContainer d-flex align-items-center justify-content-center align-middle">
    <div class="nav-item dropdown d-flex align-items-center justify-content-center align-middle">
        <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img *ngIf="!isMobile" class="fa fa-question-circle " aria-hidden="true"
                src="../../../assets/images/Icon ionic-ios-help-circle.svg">
            <img *ngIf="isMobile" src="../../../../../assets/images/Icon ionic-ios-help-circle-mobile.svg">
            <!-- <i class="fa fa-question-circle " aria-hidden="true"></i> -->
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <div *ngIf="!isMobile" class="arrow-up"></div>
            <li class="mt-1">
                <div class="contact-us-info">
                    <b class="d-block heading">Customer Service:</b>
                    <!-- <div class="icon"><img src="../../../assets/images/Icon awesome-phone-alt.svg" /></div>
                    <div class="d-block detail">Phone: <a (click)="phoneNumberClicked()" href="tel:1300658277"> 1300 658 277 </a></div>
                    <div class="icon"><img src="../../../assets/images/Icon material-email.svg" /></div>
                    <div class="d-block detail">Email: <a href="mailto:support@tradelink.com.au">
                            support@tradelink.com.au
                        </a></div>
                    <div class="icon"><img src="../../../assets/images/Icon ionic-ios-time.svg" /></div> <div
                        class="d-block detail">Hours: Mon-Fri 8:30am-5:00pm AEST</div>
                    <div class="mt-2 mb-2 contactText"><a
                        href="https://tradelinkchat.force.com/support/s/contactsupport/72267737-6648-4c80-bb0b-89e59a01de69" target="_blank">Contact
                        Us</a>
                    </div> -->
                    <span (click)="phoneNumberClicked()" class="customerServiceData" [innerHtml]="phoneNumber?.content"></span>
                    <div class="customerServiceData" [innerHtml]="popUpData?.content"></div>
                </div>
            </li>
            <!-- {{popUpData.content}} -->
        </ul>
    </div>
</div>
<!-- <app-contact-customer-service class="contactService"></app-contact-customer-service> -->