<div class="container">
    <div class="row margfilter">
        <div class="col-10">
            <h2 class="pageHeading">Filters</h2>
        </div>
        <div class="col-2 close-pos">
            <div class="cls-btn" (click)="closePopup()">
                <img class="cls-icon fa fa-times" src='../../../../assets/images/close-icon.PNG'>
            </div>
        </div>
    </div>
    <div class="row margclear">
        <div class="col-12">
            <h4 (click)="clearAll()" class="text-right clrflt">Clear All Filters</h4>
        </div>
    </div>
    <div class="row marbtm">
        <div class="col-12 tab">
            <input type="checkbox" class="accordion-checkbox" name="radioCheck" id="0">
            <label class="tab-label checkbox-inline" for="0">
                <div class="heading">
                    <div class="row">
                        <span class="heading1 col-md-3">Status</span>
                    </div>
                </div>

            </label>

            <div class="tab-content inner-tab-content">
                <label class="tab-label checkbox-inline innerCheckbox" for="chck1">
                    <div class="heading">
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" [checked]="(checkboxAll) ? true : (statusChecked) ? statusChecked.indexOf('ALL') >= 0 : false" (change)="filterSelect($event,'ALL', 'status')" value="All">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">All</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" (change)="filterSelect($event,'Active', 'status')" [checked]="(checkAll) ? true : (statusChecked) ? statusChecked.indexOf('Active') >= 0 : false" id="Active" value="Active">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">Active</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" (change)="filterSelect($event,'EXPIRED', 'status')" [checked]="(checkAll) ? true : (statusChecked) ? statusChecked.indexOf('EXPIRED') >= 0 : false" id="Expired" value="Expired">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">Expired</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" (change)="filterSelect($event,'SUBMITTED', 'status')" [checked]="(checkAll) ? true : (statusChecked) ? statusChecked.indexOf('SUBMITTED') >= 0 : false" id="Submitted" value="Submitted">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">Submitted</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" (change)="filterSelect($event,'PENDING', 'status')" [checked]="(checkAll) ? true : (statusChecked) ? statusChecked.indexOf('PENDING') >= 0 : false" id="Pending" value="Pending">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">Pending</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-container notification">
                                <input type="checkbox" (change)="filterSelect($event,'CONVERTED', 'status')" [checked]="(checkAll) ? true : (statusChecked) ? statusChecked.indexOf('CONVERTED') >= 0 : false" id="Converted" value="Converted">
                                <span class="checkmark terms"></span>
                                <span class="terms-and-conditions-label">Ordered</span>
                            </label>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-12 btngrp">
            <button class="btn cancelBtn col-6" (click)="closePopup()">
                Cancel
            </button>
            <button class="btn confirmBtn col-6" type="submit" (click)="applyFilter()">
                Apply
            </button>

        </div>
    </div>
</div>