<div class=" modal-header modal-head container">   
    <button type="button" class="close" aria-label="Close" data-dismiss="modal"  data-toggle="modal" (click)="closeModal('close')">
        <span aria-hidden="true">×</span>   
    </button>
</div>
    
<div class="modal-body ">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>{{title}} </h1>
            <p class="cancel-info">{{deleteDescription}} </p>
            <div class="form-group btn-wrapper">
                <button class="btn btn-cancel" (click)="closeModal('close')">{{quoteConstants.cancelText}}</button>
                <button class="btn btn-red" (click)="dismissModal()">{{deleteConstants.deleteButton}}</button>
            </div>
        </div>
    </div>
</div>
