<div class="root">
    <div class="loading" *ngIf="commonService.showWaitCursor | async ">Loading&#8230;</div>

    <div class="success-message-container" *ngIf="successInd$ | async">
        <div class="success-container">
            <img class="tick-icon" src="../../../assets/images/Icon ionic-ios-checkmark-circle-outline.svg">
            <div class="success-message">{{infoMessage}}<span class="close-btn" (click)="closeSuccessMsg()"><i
                        class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="failure-message-container" *ngIf="errorInd">
        <div class="failure-container">
            <!-- <img class="tick-icon" src="../../../assets/images/Icon ionic-ios-checkmark-circle-outline.svg"> -->
            <div class="error-message">{{infoMessage}}<span class="close-btn" (click)="closeSuccessMsg()"><i
                        class="fa fa-times"></i></span>
            </div>
        </div>
    </div>

    <h2 class="h2-review">REVIEW ORDER SUMMARY</h2>
    <delivery-order [isSelectButton]="true" (created)="created($event)"></delivery-order>
    <div class="row button_set">
        <div class='col-6 button_back_mob'>
            <button mat-button (click)="backClick()" class="cancel_button font-bold">Back</button>
        </div>
        <div class='col-6 button_order_mob'>
            <button mat-button class="crete_button font-bold" (click)="placeOrder()"
                [ngStyle]="{'background-color': isDisabled ? '#7496b8' : null }" [disabled]="isDisabled"
                cdkFocusInitial>Place
                Order</button>
        </div>
    </div>
</div>