@import '../../../shared/styles/variables.scss';

.custom-order-summary {
    background-color: white;
    margin-top: 20px;
    height: 230px;
}

.loading {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  /* Transparent Overlay */

  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
  }


  /* :not(:required) hides these rules from IE9 and below */

  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  }

  /* Animation */

@-webkit-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.continue-shopping-button {
    color: #003D7A;
    height: 60px;
    padding: 11px;
    border: 1px solid #003D7A;
    font-family: 'NiveauGroteskBold';
    border-radius: 5px;
    font-size: 1.5rem;
    width: 16.25rem;
    background: transparent;
    text-align: center;
}

.buttons-layout {
    margin-bottom: 60px;
    margin-top: 32px;
}

.cart-clear {
    color: #495A64;
    padding: 10px 25px;
    border: 0px solid #77889380;
    font-family: "NiveauGroteskBold";
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 28px;
    background: #77889380;
    height: 60px;
    width: 9.625rem;
}

.checkout-button {
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    width: 19.1rem;
    border: 1px solid #003D7A;
    font-family: "NiveauGroteskBold";
    border-radius: 10px;
    background: #003D7A;
    height: 60px;
}

.cart-button {
    display: flex;
    justify-content: flex-end;
}
.checkout-button:disabled {
    opacity: 0.5;
}

.searchtooltip
{
    position: relative;
}

.searchtooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: $white-color;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
   left: 0px;
   top: 54px;
    position: absolute;
    z-index: 1;
    font-size: var(--fontsize14);
    border-radius: 7px;
    margin: 4px 0px;
   box-shadow: 0px 16px 16px #0000003d;
    font-family: 'NiveauGroteskBold';
  }

  .searchtooltip:hover .tooltiptext {
    visibility: visible;
  }

a:hover {
    color: #003D7A;
    text-decoration: none;
}

@media screen and (max-width: $mobileScreenPotrait) {
    .custom-order-summary {
        margin: 30px 15px 15px 15px;
        height: auto;
    }
    .buttons-layout {
        margin: 20px 15px !important;
        max-width: 100%;
        .col-4 {
            min-width: 50%;
            button {
                width: 100%;
                min-height: var(--buttonHeight60);
                max-height: var(--buttonHeight60);
                height: auto;
                padding: 0;
                font-size: var(--fontsize26);
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .col-8 {
            max-width: 50%;
            padding-left: 0;
            .searchtooltip {
                width: 100%;
            }
            button {
                width: 100%;
                min-height: var(--buttonHeight60);
                max-height: var(--buttonHeight60);
                height: auto;
                padding: 0;
                font-size: var(--fontsize26);
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .buttons-layout {
        .col-4 {
            button {
                font-size: var(--fontsize20);
                padding: 10px 0px;
            }
        }
        .col-8 {
            button {
                font-size: var(--fontsize20);
                padding: 10px 0px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .buttons-layout {
        .col-4 {
            button {
                font-size: var(--fontsize18);
                padding: 10px 0px;
            }
        }
        .col-8 {
            button {
                font-size: var(--fontsize18);
                padding: 10px 0px;
            }
        }
    }
}
