@import '../../shared/styles/variables.scss';

// .image-container {
//   background: url("../../../assets/images/landing_page_bg.jpg") no-repeat center
//     center fixed;
//   width: 100%;
//   min-height: 100vh;
//   background-size: cover;
//   overflow: hidden;
// }

// .container {
//   width: 600px;
//   height: auto;
//   display: flex;
//   padding: 11rem 0 0;
//   justify-content: center;
//   position: sticky;
//   top: 0;
//   .imageContainer-Card {
//     border: 1px solid #e4e4e4;
//     display: flex;
//     width: 100%;
//     border-radius: 20px;
//   }
// }
// .card {
//   background-color: transparent;
//   margin: 0 auto;
//   display: -ms-grid;
//   display: grid;
//   flex: 1.2;
//   position: sticky;
//   top: 0;
//   overflow: hidden;
//   position: relative;
//   border-radius: 20px 0 0 20px;
//   .landing-logo {
//     position: absolute;
//   }
// }

// .already-acc {
//   // background-color: #fff;
//   // border-radius: 30px;
//   // padding: 40px 30px;
//   // margin-bottom: 30px;
//   p {
//     color: $cart-yellow-color;
//     font-weight: bold; 
//     // color: red;
//     // font-weight: 100;
//     // margin-bottom: 0px !important;
//     // font-style: italic;
//     // line-height: 1.2;
//     // b {
//     //   font-weight: bold;
//     // }
//   }
// }
// .just-info {
//   padding: 0 16%;
//   p {
//     color: $cart-yellow-color;
//     font-weight: bold;
//   }
// }

// .form {
//   -webkit-box-flex: 2;
//   -ms-flex: 2;
//   flex: 2;
//   margin: 0 auto;
//   padding: 23px 20px 37px;
//   background-color: #fff;
//   border-radius: 0 20px 20px 0;
//   border: 1px solid #fff;
//   border-left: none;
// }

// .form {
//   margin: 0 auto;
//   padding: 50px 20px 60px;
//   display: -ms-grid;
//   display: flex;
//   flex-direction: column;
//   background-color: #003d7a;
// }

// .form .input-container {
//   width: 88%;
//   text-align: center;
//   margin: 0 auto;
//   h3 {
//     font: normal normal bold 40px/36px NiveauGrotesk;
//     letter-spacing: 0px;
//     color: #ffffff;
//     text-align: center;
//     margin-bottom:30px;
//   }
// }

// p {
//   color: #fff;
//   font-family: NiveauGrotesk;
//   font-size: 18px;
// }

// .dont-have {
//   margin-top: 35px;
//     p {
//       margin-bottom: 0.3rem;
//     }
// }

// .logo {
//   height: 50px;
//   width: 264px;
//   margin-bottom: 30px;
// }

// .for-btn {
//   display: flex;
//   justify-content: center;
// }

// .btn {
//   font-size: 24px;
//   font-family: "NiveauGroteskBold";
//   color: #fff;
//   width: 262px;
//   border: 1px solid #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-transform: inherit;
// }

// .apply-now {
//   a {
//     font-size: 23px;
//     color: #fff;
//     font-family: "NiveauGroteskBold";
//     text-decoration: underline;
//   }
// }

// /* comment when maintenance not required start */

// // .maintenanceBlock {
// //   background-color: #fff;
// //   border-radius: 30px;
// //   padding: 40px 30px;
// //   margin-bottom: 30px;
// //   p {
// //     color: red;
// //     font-weight: 100;
// //     margin-bottom: 0px !important;
// //     font-style: italic;
// //     line-height: 1.2;
// //     b {
// //       font-weight: bold;
// //     }
// //   }
// // }

// /* comment when maintenance not required end */

// // for 150%
// @media screen and (max-width: 1400px) and (min-width: 901px) {
//   .image-container {
//     min-height: 117.6vh;
//   }
//   .container {
//     width: 600px;
//     height: auto;
//     display: flex;
//     padding: 3.5rem 0 0;
//     justify-content: center;
//     position: sticky;
//     top: 0;
//   }
// }

// // for 125%

// @media screen and (max-width: 1600px) and (min-width: 1401px) {
//   .image-container {
//     min-height: 117.6vh;
//   }
// }
// @media screen and (max-width:$mobileScreenPotrait) {
//   .container
//   {
//     width:100%;
//     height: 100vh;
//     padding:0rem 15px; 
//     align-items: center;
//     .imageContainer-Card
//     {
//       margin: 0px 15px;
//       border-radius: 10px;
//     }
//   }
//   .card{
//     display: none;
//   }
//   .form{
//     border-radius: 10px;
//     border:none;
//     padding: 50px 20px;
//     .input-container
//     {
//       width: 95%;
//       h3{
//         font: normal normal 700 22px/24px NiveauGrotesk;
//         margin-bottom: 20px;
//       }
//     }
//   }
//   .just-info {
//     padding: 0;
//   }  
//   .logo
//   {
//     width:225px;
//     height: auto;
//     padding: 0px 35px;
//     margin-bottom: 25px;
//   }
//   p 
//   {
//     font-size: 12px;
//   }
//   .btn{
//     max-height: 36px;
//     padding: 0px 25px;
//     width:auto;
//     font-size: 14px;
//     margin-bottom: 40px;
//     text-transform: inherit;
//   }
//   .apply-now 
//   {
//     a{
//       font-size: 16px;
//     }
//   }
// }
// @media screen and (max-width:375px) {
//   p 
//   {
//     font-size: 11px;
//   }
// }

// new Design

.landing_main{
// display: flex;
// justify-content: center;
// align-items: center;
height: 100vh;
background:#f7f7f7;
.container{
width: 600px;
// margin: 10% auto;
border-radius: 5px;
padding-left: 0px;
padding-right: 0px;
background: #fff;
box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 1;
// height: 44rem;
.tradelink_logo{
padding: 22px 0;
background: #003087;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
.logo
  {
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.landing_body{
width: 400px;
margin: 0 auto;
h1{
font-family: "NiveauGroteskBold";
font-size: 2rem;
padding: 22px 0;
text-align: center;
}
.box{
border: 1px solid #BBBBBB;
padding: 15px;
margin-bottom: 5%;
border-radius: 6px;
p{
color: #000000;
font-size: 1rem;
text-align: center;
font-family: "NiveauGrotesk";
margin-bottom: 16px;
}
.btn-sign {
  width: 100%;
  background-color: #003087;
  color: #fff;
  font-family: "NiveauGroteskBold";
  font-size: 18px;
}
.btn-register {
  width: 100%;
  background-color: #4CC4D3;
  color: #fff;
  font-family: "NiveauGroteskBold";
  font-size: 18px;
}
.btn-trade {
  width: 100%;
  border: 2px solid #000000;
  font-family: "NiveauGroteskBold";
  font-size: 18px;
  color: #000;
}
}

.help {
  color: #003087 !important;
  font-family: "NiveauGroteskBold";
  font-size: 18px;
  // text-decoration: underline;
  margin: 22px 0px 35px 0;
  a{
    font-size: 16px;
    // text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .helpLink {
    color: #003087 !important;
  }
  #helpDropdownMenuLink {
      padding: 0;
  }
.contact {
  display: flex;
  color: #003087 !important;
  font-family: "NiveauGrotesk";
  font-size: 16px;
  text-decoration: underline;
}
ul{
  padding-left: 0px;
  li{
    list-style: none;
    color: #000000;
    font-family: "NiveauGrotesk";
    font-size: 16px;
    width: fit-content;
    a{
      text-decoration: underline;
      font-family: "NiveauGrotesk";
      font-size: 1.2rem;
    }
  }
}
}
}


}
}
body.appScaleLevel{
  background: #fff !important;
}

.fa-chevron-down:before{
  color: #BBBBBB;
}

@media (min-width: 300px) and (max-width: 765px){
  .landing_main{
    .container{
      width: 100%;
      .landing_body{
        width: 100%;
        .help{
          padding-left: 20px;
        }
      }
    }

  }

}