<div class="success-message-container mobmsg" *ngIf="successInd$ | async">
    <div class="success-container">
        <div class="success-message">
            <span>{{infoMessage}}</span>
        </div>
    </div>
</div>

<div class="my_profile">
    <div class="">
        <div class="row topHeading">
            <div class="heading-row row">
                <div class="col-md-3 col-12 heading">
                    PRICE FILES
                </div>
                <div class="col-md-6 col-12 deskmsg">
                    <div class="success-message-container" *ngIf="successInd$ | async">
                        <div class="success-container">
                            <div class="success-message">
                                <span>{{infoMessage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 update-preference deskbtn">
                    <button class="update-preference-button" (click)="navigateToAccount()"> Update Preferences </button>
                </div>
                <br />
            </div>
            <div class="col-md-3 col-12 custom-width-navigation" style="margin-top: 7rem;">
                <div>
                    <app-account-left-nav [selectedTab]="'pricefile'"></app-account-left-nav>
                </div>
            </div>
            <div class="col-md-3 col-12 update-preference mobbtn">
                <button class="update-preference-button" (click)="navigateToAccount()"> Update Preferences </button>
            </div>
            <div class="col-md-9 col-12 custom-width-grid" style="margin-top: 10rem;">
                <div class="content-section">
                    <h4 class="content-title">On Demand Price File</h4>
                    <hr>
                    <p style="margin-bottom: 20px">In addition to the monthly price file sent to you automatically on
                        the 1st of the month, you can
                        request a price file when required by selecting the options below.</p>
                    <h4 class="sub-heading item">Item Filter</h4>
                    <div class="form-check custom-radio">
                        <input class="form-check-input" type="radio" [checked]="frequentlyOrderItemFlag == true"
                            (change)="frequentlyOrderItemFlagChange()" name="flexRadioDefault" id="frequentOrder">
                        <label class="form-check-label" for="frequentOrder">
                            Frequently Ordered Items
                        </label>
                    </div>
                    <div class="form-check custom-radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="branchProduct"
                            (change)="myBranchProductsFlagChange()" [checked]="myBranchProductsFlag == true">
                        <label class="form-check-label" for="branchProduct">
                            My Branch Products
                        </label>
                    </div>

                    <div class="form-check custom-radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="completePriceList"
                            (change)="completePriceListFlagChange()" [checked]="myCompletePriceListFlag == true">
                        <label class="form-check-label" for="completePriceList">
                           Complete Price List
                        </label>
                    </div>

                    <div class="form-check custom-radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="myList"
                            (change)="chooseFromMylistFlagChange()" [checked]="chooseFromMyList">
                        <label class="form-check-label" for="myList">
                            Choose From My Lists
                        </label>
                    </div>
                    <div class="selectdiv" style="margin-top: 10px;">
                        <label [ngClass]="!isListLoad ? 'disableArea' : ''">
                            <select class="form-select drop-down-field" [(ngModel)]='selectedListItem'
                                aria-label="Default select example" [disabled]="isListDisable">
                                <option [ngValue]="null" [disabled]="true">Select a List</option>
                                <option *ngFor="let listName of myList" [value]="listName"> {{listName}} </option>
                            </select>
                        </label>
                        <div *ngIf="!isListLoad" class="loading">Loading&#8230;</div>
                    </div>
                    <h4 style="margin-top: 40px;" class="sub-heading">Format</h4>
                    <p class="para">Choose from my Download Price Files</p>
                    <div class="selectdiv" style="margin-top: 10px;">
                        <label>
                            <select class="form-select drop-down-field select_format"
                                aria-label="Default select example" [(ngModel)]="selectedFormatItem"
                                (ngModelChange)="validateChange()">
                                <option [ngValue]="null" [disabled]="true">Select Download Format</option>
                                <option *ngFor="let format of downloadedFormats" [ngValue]="format.code">
                                    {{format.name}} </option>
                            </select>
                        </label>
                    </div>
                    <h4 style="margin-top: 40px;" class="sub-heading">Preferred Email Address</h4>
                    <div class="form-group">
                        <div class="email-box col-md-8 col-sm-12 col-12 md-8">
                            <input type="text" [(ngModel)]="scheduleMonthlyPrefEmail" (ngModelChange)="validateChange()"
                                class="form-control email-input lo_sensitive" placeholder="Enter Email Address">
                            <!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
                            <img src="../../../../assets/images/Icon material-edit (grey).svg">
                        </div>
                    </div>
                    <div class="save-button ">
                        <button [ngClass]="isDisabled ? 'pref-save-disabled' : 'pref-save'" [disabled]="isDisabled"
                            (click)="produce()"> <span class="icon icon-margin "><img
                                    src="../../../../assets/images/produce-icon.svg " /></span> Produce </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>