@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/fontSize.scss';
.heading {
    font-weight: bolder;
    color: #495A64;
    margin-bottom: 20px;
    font-size: var(--fontsize40);
    font-family: "NiveauGroteskbold";
}

.custom-width-navigation {
    max-width: 19%;
    margin-left: 17px;
    padding-right: 30px;
    margin-right: 5px;
    margin-top: 2rem;
}

.custom-width-grid {
    min-width: 74% !important;
    max-width: 74% !important;
    padding-left: 25px;
}

.selectdiv {
    position: relative;
    width: 63%;
}

.selectdiv:after {
    // content: ">";
    // font: 30px "Consolas", monospace;
    // transform: rotate(90deg);
    // right: 0px;
    // top: 0px;
    // display: flex;
    // justify-content: center;
    // padding-top: 7px;
    // width: 55px;
    // position: absolute;
    // color: #003D7A;
    // border-radius: 2px;
    // pointer-events: none;
    // height: 55px;
    // background-color: #F1F3F5;
    // border: 0px solid #BCC4CA;
    // border-bottom: 0;
    content: "";
    background-image: url('../../../../assets/images/Icon\ ionic-ios-arrow-down\ \(2\).svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    transform: rotate(0deg);
    right: 0px;
    width: 55px;
    top: 0;
    position: absolute;
    height: 55px;
    background-color: #F1F3F5;
    border: 0px solid #BCC4CA;
    border-left: 0;
}

.icon-margin {
    margin-right: 8px;
}

.save-button {
    margin-top: 40px;
    background: none;
    .pref-save {
        min-height: var(--buttonHeight60);
        width: 140px;
        font-size: var(--fontsize20);
        font-family: 'NiveauGroteskBold';
        border-radius: 5px;
        background-color: $blue-color;
        border: 1px solid $blue-color;
        color: $white-color;
    }
    .pref-save-disabled {
        min-height: var(--buttonHeight60);
        width: 140px;
        font-size: var(--fontsize20);
        font-family: 'NiveauGroteskBold';
        border-radius: 5px;
        background-color: $button-disable-color;
        border: 1px solid $button-disable-color;
        color: $white-color;
    }
}

.selectdiv select {
    min-height: 55px;
    width: 100%;
    border: 1px solid #77889380;
    font-size: var(--fontsize20);
    font-family: 'NiveauGrotesk';
    color: $pdp-font-color;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
    &:not(:focus) {
        background: #0000!important;
    }
    &:focus {
        background: #0000!important;
    }
}

.topHeading {
    position: relative;
}

.heading-row {
    position: absolute;
    max-width: 1920px !important;
    width: 95%;
    margin: auto;
    align-items: flex-start;
    background-color: #e8eff7;
    font-family: NiveauGrotesk;
    font-size: var(--fontsize14);
    padding: 2.5rem 0.938rem;
    display: flex;
    flex-direction: row;
    left: 0;
}

.pref-content {
    max-width: 74%;
    margin-top: 15px;
}

.content-section {
    background: $white-color;
    // height: 748px;
    padding: 30px 50px;
    margin-bottom: 50px;
    min-height: 70vh;
}

.content-title {
    font-size: var(--fontsize20);
    font-family: 'NiveauGroteskBold';
    color: $pdp-font-color;
}

.sub-heading {
    font-size: var(--fontsize16);
    font-family: 'NiveauGroteskBold';
    color: $pdp-font-color;
}

p {
    font-size: var(--fontsize16);
    font-family: 'NiveauGrotesk';
    color: $pdp-font-color;
    margin-bottom: 0.5rem;
}

.form-check {
    margin-bottom: 5px;
}

.custom-radio {
    input[type=radio] {
        top: 2px;
        border: 2px solid #545859;
        width: 20px;
        height: 20px;
    }
    input[type=radio]:checked {
        border-color: #545859 !important;
        border: 2px solid #545859;
    }
    input[type=radio]:checked::after {
        background-color: #545859 !important;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
    }
    .form-check-input:checked {
        border-color: #545859 !important;
    }
}

.email-box {
    width: 63%;
    position: relative;
    padding: 0;
    .email-input {
        min-height: var(--buttonHeight60);
        padding-right: 60px;
        font-size: var(--fontsize18);
        color: $pdp-font-color;
        font-family: 'NiveauGrotesk';
        &:focus {
            background-color: transparent;
            border: 1px solid #E0E1E2;
        }
    }
    img {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 18px;
        height: 18px;
    }
}

.phoneNumber-box {
    width: 63%;
    position: relative;
    padding: 0;
    .country-code {
        position: absolute;
        top: 11px;
        left: 20px;
        font-size: var(--fontsize18);
        color: $pdp-font-color;
        font-family: 'NiveauGrotesk';
    }
    .phoneNumber-input {
        min-height: var(--buttonHeight60);
        padding-right: 60px;
        font-size: var(--fontsize18);
        color: $pdp-font-color;
        font-family: 'NiveauGrotesk';
        padding-left: 70px;
        &:focus {
            background-color: transparent;
            border: 1px solid #E0E1E2;
        }
        &::placeholder {
            opacity: 0.5;
        }
    }
    img {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 18px;
        height: 18px;
    }
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my_profile {
    // padding: 0px 119px 20px 10px; 
    margin-left: 15px;
    margin-right: 15px;
    font-family: "NiveauGrotesk";
}

.update-preference {
    text-align: right;
}

.update-preference-button {
    height: 60px;
    font-size: var(--fontsize24) !important;
    padding: 11px;
    font-family: "NiveauGroteskBold";
    font-size: 1.5rem;
    width: 16.25rem;
    background: transparent !important;
    text-align: center;
    border: 1px solid #003d7a;
    color: #003d7a !important;
    border-radius: 5px;
}
.mobbtn
{
    display: none;
}
.mobmsg
{
    display: none;
}
.success-message-container,
.failure-message-container {
    width: 100%;
    // display: none;
    margin: 0 auto 15px auto;
    @media screen and (min-width: $Largescreen-1600) {
        margin: 20px auto 0 auto;
        position: relative;
        bottom: 25px;
    }
}

.success-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #0B961B;
    background-color: #0B961B1A;
    color: #0B961B;
    font-family: 'NiveauGrotesk';
    padding: 12px;
    font-size: var(--fontsize14);
    @media screen and (min-width: $Largescreen-1600) {
        padding: 8px 10px;
        font-size: var(--fontsize16);
    }
}

.failure-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $failure-border-color;
    background-color: $failure-background-color;
    color: #973937;
    font-family: 'NiveauGrotesk';
    padding: 12px;
    font-size: var(--fontsize14);
    @media screen and (min-width: $Largescreen-1600) {
        padding: 21px 10px;
        font-size: var(--fontsize16);
    }
}
/* Absolute Center Spinner */

.loading {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
    background: transparent;
}


/* Transparent Overlay */

// .loading:before {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
//     background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
// }

/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: "";
    display: block;
    font-size: 8px;
    position: relative;
    top: 45%;
    left: 88%;
    /* margin: auto; */
    width: 0.55em;
    height: 0.55em;
    animation: spinner .15s linear infinite;
    border-radius: 0.5em;
    box-shadow: 1.5em 0 0 0 #6d6d6d, 1.1em 1.1em 0 0 #6d6d6d, 0 1.5em 0 0 #6d6d6d, -1.1em 1.1em 0 0 #6d6d6d, -1.5em 0 0 0 #6d6d6d, -1.1em -1.1em 0 0 #6d6d6d, 0 -1.5em 0 0 #6d6d6d, 1.1em -1.1em 0 0 #6d6d6d;
    -webkit-box-shadow: 1.5em 0 0 0 #6d6d6d, 1.1em 1.1em 0 0 #6d6d6d, 0 1.5em 0 0 #6d6d6d, -1.1em 1.1em 0 0 #6d6d6d, -1.5em 0 0 0 #6d6d6d, -1.1em -1.1em 0 0 #6d6d6d, 0 -1.5em 0 0 #6d6d6d, 1.1em -1.1em 0 0 #6d6d6d;
}
.disableArea{
    background-color: #ededed !important;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

///////////////////////////////////////// custom checkbox CSS - END ////////////////////////////////////////
/// MEdia Query ////
@media screen and(max-width: $Largescreen-1760) {
    .my_profile {
        padding: 0px 10px 20px 10px;
    }
    .custom-width-navigation {
        min-width: 325px !important;
        padding-right: 25px;
    }
    // .searchbox {
    //     width: 25rem;
    // }
    // .datebox {
    //     width: 18.813rem;
    // }
    .datepicker-width {
        margin-left: 8px;
        // min-width: 16rem !important;
    }
    .update-preference-button {
        margin-left: 105px !important;
    }
}

@media screen and(max-width: $screenMedium-1024) {
    .my_profile {
        padding: 0px 10px 20px 10px;
    }
    .custom-width-navigation {
        min-width: 325px !important;
        padding-right: 25px;
    }
}
@media screen and (max-width:$mobileScreenPotrait) {
    .custom-width-navigation {
        min-width: 100% !important;
        max-width: 100%;
        margin-left: 0px;
        padding-right: 5px;
        padding-left: 5px;
        margin-top: 0rem !important;
    }
    .update-preference-button
    {
        width: 100%;
        margin-left: 0px !important;
        border-radius: 2px;
        max-height: var(--buttonHeight60);
        padding: 6px;
    }
    .update-preference
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .heading-row
    {
        width: 100%;
        padding: 0.9rem 0rem;
    }
    .custom-width-grid {
        min-width: 100%!important;
        max-width: 100%!important;
        padding-left: 5px;
        padding-right: 5px;
        margin-top:1.5rem !important;
    }
    .selectdiv,.email-box
    {
        width: 100%;;
    }
    .selectdiv
    {
        select 
        {
            min-height: 35px;
            padding-left: 10px;
        }
        &::after
        {
            width: 35px;
            height: 35px;
        }
    }
    
    .save-button
    {
        .pref-save,.pref-save-disabled
        {
            width: 100%;
            border-radius: 2px;
        }
    } 
    .content-section
    {
        padding: 10px 10px 15px;
        p
        {
            margin-bottom: 0px !important;
            line-height: 1.3;;
        }
        .sub-heading
        {
            font-size: var(--fontsize18);
            margin-bottom: 4px;
            margin-top: 25px !important;
        }
        .sub-heading.item
        {
            margin-top: 12px !important;
        }
    }
    ::placeholder,select {
        /* Firefox */
        font-size: var(--fontsize16) !important;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: var(--fontsize16) !important;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
      font-size: var(--fontsize16) !important;
      }
      .save-button
      {
          margin-top: 25px;
      }
      .para
      {
          font-size: var(--fontsize18);
      }
      input[type=radio]
      {
        margin-inline-start: -1.5rem;
      }
      .form-check
      {
        padding-inline-start: 1.5rem;
      }
    .heading
    {
        font-size: var(--fontsize24);
        padding-left: 3px;
    }
    .mobbtn
    {
        display: block;
    }
    .deskbtn
    {
        display: none;
    }
    .custom-radio 
    {
        input[type=radio]
        {
            width: 15px;
            height: 15px;
            top: 5px;
            margin-inline-start: -1.5rem;
            border: 1.5px solid #545859;
        }
        input[type=radio]:checked
        {
            border: 1.5px solid #545859;
        }
        input[type=radio]:checked:after {
            top: 3px;
            left: 3px;
            width: 6.2px;
            height: 6.2px;
        }
    }
    .email-box
    {
        .email-input
        {
            height: 35px;
            border-radius: 2px !important;
            min-height: 35px;
        }
        img{
            width: 15px;
            height: 15px;
            top: 9px;
            right: 10px;
        }
    }
    .loading:not(:required):after {
       
        font-size: 6px;
        left: 75%;
   }
   .success-message-container,
   .failure-message-container {
       width: 90%;
       margin: 15px auto;
   }
   .mobmsg
   {
       display: block;
   }
   .deskmsg
   {
       display: none;
   }
}