<div class=" modal-header modal-head container">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" data-toggle="modal"
        (click)="dismissModal()">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body ">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <!-- <h1>{{viewQuote.include}} {{title}} {{viewQuote.includePopupMsg}}</h1> -->
            <!-- <p class="cancel-info">{{viewQuote.selectTxt}} {{title}} {{viewQuote.addToQuoteTxt}}</p> -->
            <div class="form-group btn-wrapper">
                <!-- <button class="btn btn-cancel" (click)="dismissModal()">{{quoteConstants.cancelText}}</button> -->
                <!-- <button class="btn btn-blue" (click)="confirm()">{{viewQuote.jobDetailBtn}}</button> -->
            </div>
        </div>
    </div>
</div>