<span class="is-initialized custom_logo_c">
    <a><img src="https://api.crre-fletcherb2-d3-public.model-t.cc.commerce.ondemand.com//medias/Trade-Logo.png?context=bWFzdGVyfGltYWdlc3wxNDI3NXxpbWFnZS9wbmd8aGUyL2g4YS84ODIzNzM5MTg3MjMwL1RyYWRlLUxvZ28ucG5nfGI0Yzg3M2ZhOTJlMjU0ZjJmY2ZlYzVkN2RmZGM2MjNkY2MxZmY2ZThiYTMxNGRjYTM4YmZlYTVmZGNjMzZhMTY" (click)="routeURL('/')"></a>
  </span>
<div class="follow-us-on">
    <b>FOLLOW US ON</b>
    <div class="container socialMediaIcons">
        <a class="instagram" href="https://www.instagram.com/tradelinktrade/" target="_blank"><img src="../../../assets/images/Insta-icon.svg" class="fab fa-instagram"></a>
        <!-- <a class="twitter" href="https://twitter.com/FInsulation" target="_blank"><img src="../../../assets/images/twitter-icon.svg" class="fab fa-twitter"></a> -->
        <a class="facebook" href="https://www.facebook.com/TradelinkPlumbingCentres/" target="_blank"><img src="../../../assets/images/facebook-icon.svg" class="fab fa-facebook-f"></a>
        <a class="youtube" href="https://www.youtube.com/channel/UCIhOqkYQW2IiwK7lEIG5kTw" target="_blank"><img src="../../../assets/images/youtube-icon.svg" class="fab fa-youtube"></a>
        <a class="linkedin" href="https://www.linkedin.com/company/tradelink-plumbing-supplies/" target="_blank"><img src="../../../assets/images/linkedin-icon.svg" class="fab fa-linkedin-in"></a>
    </div>
</div>