$white:#ffffff;
$black:#000000;
$darkBlue:#03103a;
$darkMeduimBlue:#091d5a;
$mediumBlue: #2D417C;
$lightBlue:#00B4CD;
$red:#CE1141;
$green:#02B382;
$yellow:#f9d953;
$buttonyellow:#FFD520;
$grey:#666666;
$lightGrey:#DDDDDD;
$mediumGray: #F5F5F5; 
$borderGrey: #C6C6C6;   