<div class="confirmation">
    <div class="box">
        <div class="row for-desktop">
            <div class="row">
                <div class="col-sm-1">
                    <img style="max-height: 100%;max-width: 90%;" src="assets/icons/tick_icon.svg" />
                </div>
                <div class="col-sm-11" style="margin:auto;padding-top: 12px;">
                    <h4 style="color:green" class="font-bold font-size-24">
                        THANK YOU FOR YOUR ORDER!
                    </h4>
                    <!-- <p class="font-size-24">A confirmation email will be sent to you shortly.</p> -->
                </div>
            </div>
        </div>
        <div class="for-mobile">
            <div class="mob-confirm" style="display: flex;align-items: center;">
                <div class="">
                    <img class="confirm-img" src="assets/icons/tick_icon.svg" />
                </div>
                <div style="margin-left: 15px;">
                    <h4 style="color:#0B961B;margin:0;font-size: 16px;" class="font-bold">
                        THANK YOU FOR YOUR ORDER!
                    </h4>
                    <!-- <p style="font-size: 14px;margin:0;">
                        A confirmation email will be sent to you shortly.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>