@import "../../shared/styles/variables.scss";
::ng-deep .mat-sort-header-arrow {
    color: #003d7a;
}

::ng-deep .mat-table th {
    font-family: 'NiveauGroteskBold';
}

.mat-table td {
    font-family: 'NiveauGrotesk';
}
::ng-deep .custom-paginator-page {
    font-weight: 500;
    font-size: var(--fontsize16);
    min-height: var(--fontsize28);
    max-height: var(--fontsize28);
    min-width: var(--fontsize28);
}
.custom-paginator-page-disabled {
    background-color: #495a64 !important;
    color: #fff;
}

.team_members {
    padding: 20px 0;
    padding-bottom: 0;
    table {
        width: 100%;
        margin-top: 32px;
        th {
            color: #495A64;
            font-size: var(--fontsize20);
            font-family: 'NiveauGroteskBold';
            height: var(--gridHeight74);
        }
        td {
            color: #495A64;
            font-family: 'NiveauGrotesk';
            height: var(--gridHeight72);
            font-size: var(--fontsize18);
        }
    }
    .noDataTable {
        margin-top: 0;
        tr {
            td {
                color: #495A64;
                font-family: 'NiveauGrotesk';
                font-size: 0.9rem;
                padding: 12px;
            }
        }
    }
    .noDataAvailable {
        margin-top: 50px;
        tr {
            td {
                color: #495A64;
                font-family: 'NiveauGrotesk';
                font-size: var(--fontsize16);
                padding: 12px;
            }
        }
    }
    h3 {
        font-weight: 500;
        font-size: 20px;
        color: darkblue;
        margin: auto;
    }
    .container {
        min-width: 88%;
    }
    .col-lg {
        margin: auto;
    }
    button {
        background: #003D7A;
        color: white;
        border-radius: 7px;
        text-align: center;
        width: 44px;
        margin-left: 5px;
    }
    .addMember {
        width: auto;
        height: var(--buttonHeight60);
        max-height: var(--buttonHeight60);
        font-size: var(--fontsize20);
        @media screen and (min-width: $Largescreen-1600) {
            width: auto;
            padding: 0 3.5rem;
        }
    }
    mat-icon {
        color: #778893 !important;
        font-size: 31px !important;
    }
}

.fa-search {
    position: absolute;
    right: 23px;
    top: 12px;
    color: #003D7A;
    font-size: 20px;
    @media screen and (min-width: $Largescreen-1600) {
        right: 70px;
        top: 10px;
        font-size: 24px;
    }
}

.addMember {
    font-weight: 700;
    padding: 0 38px;
    &:focus {
        box-shadow: 0 0 0 transparent;
    }
}

.heading {
    font-weight: bolder;
    color: #495A64;
    margin-bottom: 34px;
    font-size: var(--fontsize40);
    font-family: "NiveauGroteskbold";
}

.searchbox {
   // width: 30.688rem;
   position: relative;
    input {
        height: var(--buttonHeight60);
        font-size: var(--fontsize20);
        max-width: 30.688rem;
        border-radius: 2px;
        &::-webkit-input-placeholder {
            color: #778893;
            opacity: 0.5;
        }
        &:-moz-placeholder {
            color: #778893;
            opacity: 0.5;
        }
        &::-moz-placeholder {
            color: #778893;
            opacity: 0.5;
        }
        &:-ms-input-placeholder {
            color: #778893;
            opacity: 0.5;
        }
        @media screen and (min-width: $Largescreen-1600) {
            max-width: 29.688rem;
            padding-left: 1.625rem;
        }
    }
}

tr.mat-header-row {
    height: 56px;
    background-color: #fff !important;
}

tr:nth-child(odd) {
    background-color: #e0e7ef;
}

.pointer {
    cursor: pointer;
}

.mat-standard-chip {
    border-radius: 5px !important;
   // padding-left: 21px !important;
    font-family: NiveauGroteskBold !important;
    font-size: var(--fontsize18);
    width: 111px !important;
   // padding-right: 21px;
}

.mat-sort-header-arrow {
    opacity: 0.54 !important;
}

.success-message-container,
.failure-message-container {
    width: 50%;
    // display: none;
    margin: 0 auto 15px auto;
}

.success-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #0B961B;
    background-color: #0B961B1A;
    color: #0B961B;
    font-family: 'NiveauGrotesk';
    padding: 10px;
    font-size: 12px;
}

.failure-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $failure-border-color;
    background-color: $failure-background-color;
    color: #973937;
    font-family: 'NiveauGrotesk';
    padding: 10px;
    font-size: 12px;
}

.tick-icon,
.alert-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.alert-message {
    line-height: 1;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 6px;
}

::ng-deep .mat-button-focus-overlay {
    background: transparent !important;
    outline: none !important;
}

.image-container {
    background: url('https://auth0assets.blob.core.windows.net/assets/loginbg.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.status {
    justify-content: space-around;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

 ::ng-deep .mat-sort-header-arrow {
    color: #003d7a;
}

::ng-deep .mat-sort-header-arrow :focus :hover {
    color: #003d7a;
}

::ng-deep .mat-select-value {
    text-align: center;
}


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

::ng-deep .form-control {
    font-family: NiveauGrotesk !important;
}

::ng-deep .mat-sort-header-stem {
    height: 11px !important;
    width: 2px !important;
}

::ng-deep .mat-sort-header-arrow {
    height: 13px !important;
    width: 1.5px !important;
}

::ng-deep .mat-sort-header-pointer-left {
    width: 6px;
    height: 1.5px !important;
}

::ng-deep .mat-sort-header-pointer-right {
    width: 6px;
    height: 1.5px !important;
}

::ng-deep .status-class .mat-sort-header-container .mat-sort-header-content {
    margin-left: 0px !important;
}

mat-paginator {
    margin-top: 20px;
    background-color: #E8EFF7;
    @media screen and (min-width: $Largescreen-1600) {
        margin-bottom: 4.646rem;
    }
}

::ng-deep .mat-form-field-flex {
    background-color: $white-color;
}

::ng-deep .mat-form-field {
    line-height: 1.5;
    min-width: var(--perPageDropdownWidth);
    min-height: var(--perPageDropdownHeight);
    width: var(--perPageDropdownWidth) !important;
    height: var(--perPageDropdownHeight !important);
}

::ng-deep .mat-select-min-line {
    font-size: var(--fontsize24);
    font-family: 'NiveauGrotesk';
    color: #778893;
}

::ng-deep .mat-select-arrow {
    // color: #003d7a;
    background-image: url('../../../assets/images/dropdown_Icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: bottom;
    border-left: 10px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-top: 12px solid transparent !important;
    margin: 0px 6px;
    // border-left: 16px solid transparent !important;
    // border-right: none !important;
    // border-top: 11px solid transparent !important;
    // border-image-source: url('../../../assets/icons/downarrowIcon.svg') !important;
    // border-image-repeat: stretch !important;
}

::ng-deep .mat-paginator-navigation-previous {
    svg {
        color: transparent;
        // display: none !important;
    }
    width: 25px !important;
    margin-left: 10px !important;
    color: $blue-color;
    //   display: none !important;
    &::before {
        content: "↖";
        position: absolute;
        background-color: #E8EFF7;
        transform: rotate(315deg);
        font-weight: bold;
        font-size: 1.4rem;
        // width: 19px;
    }
}

::ng-deep .mat-paginator-navigation-next {
    margin-left: 8px !important;
    width: 25px !important;
    top: 1px !important;
    color: $blue-color;
    //  display: none !important;
    &::before {
        content: "↖";
        position: absolute;
        background-color: #E8EFF7;
        transform: rotate(135deg);
        font-weight: bold;
        font-size: 1.4rem;
        //  width: 19px;
    }
}

::ng-deep .mat-paginator-page-size-label {
    margin: 0 33px;
    color: #495A64;
    font-family: 'NiveauGrotesk' !important;
    font-size: var(--fontsize18);
}

.align-text-right {
    text-align: right;
}

th.mat-header-cell,
td.mat-cell {
    border: 0px;
}

::ng-deep .mat-chip-list-wrapper input.mat-input-element,
.mat-chip-list-wrapper .mat-standard-chip {
    font-family: 'NiveauGroteskBold' !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 40px;
}

::ng-deep .mat-icon-button {
    font-family: 'NiveauGroteskBold';
    height: 24px;
    line-height: 27px;
}

.status-class {
    justify-content: space-around;
}

.icon-btn {
    background: transparent !important;
    outline: none;
    border: none !important;
}

.icon-btn.disabled {
    opacity: 0.5;
    cursor: default;
    ::ng-deep mat-icon {
        cursor: default;
    }
}

[hidden] {
    display: none !important;
}

/*** MYTEAM MOBILE CSS START ***/
@media screen and (max-width: $mobileScreenPotrait) {
    .success-message-container {
        width: 100%;
        .success-container {
            border-radius: 4px;
            .tick-icon {
                width: 20px;
                height: 20px;
            }
            .success-message {
                font-size: var(--fontsize18);
            }
            .close-btn {
                .fa {
                    font-size: 1rem;
                }
            }
        }
    }
    .failure-message-container {
        width: 100%;
        .failure-container {
            border-radius: 4px;
            .tick-icon {
                width: 20px;
                height: 20px;
            }
            .error-message {
                font-size: var(--fontsize18);
            }
            .close-btn {
                .fa {
                    font-size: 1rem;
                }
            }
        }
    }
    .team_members .container {
        max-width: 100%;
    }
    .team_members mat-icon
    {
       font-size: 26px !important;
    }
.addMember{
     width:100% !important;
     border-radius: 2px !important;
}
.marginhr
{
    margin-top: 0px;
}
.btn-status
{
    border-radius: 2px !important;
    border:none;
    width: auto !important;
    font-size: var(--fontsize18);
    padding: 5px 15px;
    margin-left: 0px !important;
    font-family: 'NiveauGroteskBold';
    margin: 4px 0px;
}
.background-list
{
    background-color:$white-color;
    margin: 20px 0px;
    padding: 10px 15px 15px;
    border-radius: 5px;
}
.headmob
{
    font-size: var(--fontsize24)!important;
    font-family: 'NiveauGroteskBold';
    padding-top: 10px;
    color:$pdp-font-color;
}
.leftlist
{
    font-size: var(--fontsize20)!important;
    font-family: 'NiveauGrotesk' ;
    color:$pdp-font-color;
    line-height: 0.8;
}
.rightlist
{
    font-size: var(--fontsize20)!important;
    font-family: 'NiveauGroteskBold' ;
    color:$pdp-font-color;
    overflow-wrap: break-word;
    line-height: 0.8;
}
.view-more
{
    background-color:$white-color !important;
    color:$pdp-font-color !important;  
    border:1px solid $pdp-font-color;
    width:100% !important;
    border-radius: 25px !important;
    padding: 5px 0px;
    margin-bottom: 40px;
    font-size: var(--fontsize18)!important;
    font-family: 'NiveauGroteskBold';
    margin-left: 0px !important;
}
.icon-align
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 5px;
    top:-5px;
}
    .heading
    {
        font-size: var(--fontsize32);
    }
.emptyList {
    margin-top: 10px;
    background-color: #e0e7ef;
    font-family: 'NiveauGrotesk';
    font-size: var(--fontsize18);
    padding: 5px;
    color: $pdp-font-color;
}
.heading
{
    margin-bottom: 15px;
    font-size: var(--fontsize24);
}
.team_members button
{
    margin-left: 0px;
    width: 38px;
}
}
@media screen and (max-width: $smallmobileScreenPotrait420) {
   
    .leftlist,.rightlist {
        font-size: var(--fontsize18)!important;
    }
   
}
@media screen and (max-width: 376px)
{
    .leftlist,.rightlist {
        font-size: var(--fontsize16-5)!important;
    }
}
/*** MYTEAM MOBILE CSS END ***/