
<!-- <div class="landing_main">
    <div class="container">
        <div class="top_header">
            <div class="row">
                <div class="col-md-12">
                    <div class="tradelink_logo">
                        <img class="logo" src="../../../assets/images/Tradelink_word_only_R-White.png" alt="">
                    </div>
                </div>
            </div>
        </div>
       <div class="landing_cong_body">
        <h3>Congratulations!</h3>
        <h4>Your account is ready to go.</h4>
        <p> <span> <img class="logo" src="../../../assets/images/help_FILL0_wght400_GRAD0_opsz48.svg" alt=""> </span>Before you get started, please visit<span> <a href="#"> Profile Settings </a> > <a href="#"> Preferences </a> </span>  and make sure the pre-set options work for you.</p>
        <button class="btn btn-sign">GET STARTED</button>
    
    </div>
    </div>
</div> -->


<div class="landing-page">
    <div class="container">
        <div class="row justify-content-center align-items-sm-center min-vh-100">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-7">
                <div class="card reg-card">
                    <div class="card-header logo-header">
                        <img src="../../../assets/images/Tradelink_word_only_R-White.png" class="banner-logo" alt="logo">
                    </div>
                    <div class="card-body">
                        <div class="register">
                            <h2 class="success-heading mt-4 mb-4">Congratulations!<br> Your account is ready to go.</h2>
                            <div class="info row mr-0 ml-0">
                                <div class="col-1">
                                    <img class="mr-2 icon-width" src="../../../assets/images/info-icon.svg" alt="info">
                                </div>
                                <div class="col pl-0">
                                    <span>Before you get started, please visit <u><a href="javascript:void(0)">Profile Settings</a>> <a href="javascript:void(0)">Preferences</a></u> and make sure the pre-set options work for you.</span>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-get-started" (click)="getStarted()">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>