<div class="tradeAppContent">
    <div id="mobile-view-modal-title">
        <img src="/assets/images/Tradelink_logo_white_keyline_white_TM.png">
        <h4>Try the Trade App</h4>
    </div>
    <div class="mobile-view-modal-content">
        <p>Download our trade app for when you are on the go. You can place orders, view order statuses, make lists and much more! Even better everything you do on your app will automatically appear on your portal</p>
    </div>
    <div class="mobile-view-modal-btn">
        <button type="button" class="btn btn-primary switchBtn" (click)="switchToApp()">
            Switch to the App
        </button>
        <button type="button" class="btn btn-default model-close notNowBtn" aria-label="Close" (click)="openModalCancelPopup()">
            Not now
        </button>
    </div>
</div>